.titleScene {
  display: grid;
  place-items: center;
  grid-template: 1fr repeat(3, min-content) 1fr / 1fr;
  grid-template-areas:
    "."
    "title"
    "play"
    "difficulty"
    ".";

  width: 100%;
  max-width: 1200px;

  background-color: var(--background_2);
}

.titleScene button {
  border: 2px solid var(--secondary_1);
  border-radius: 10px;
  background-color: var(--primary_1);

  font-weight: bold;
  color: var(--font_light);
  text-shadow: 1px 1px 2px black;

  filter: drop-shadow(1px 1px 2px black);
}

.titleScene button:hover {
  background-color: var(--primary_2);
}

.title {
  margin-top: 50px;
  grid-area: title;

  background-color: var(--background_3);
  border-radius: 8px;
  padding: 5px;

  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  color: var(--font_light);
  text-shadow: 2px 1px 2px black;

  filter: drop-shadow(0px 0px 2px black);
}

.title::before,
.title::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 2px;
  background: var(--secondary_1);
  margin: 0 8px;
  transform: translateY(-10px);
  filter: drop-shadow(1px 1px 2px black);
}

.playButton {
  grid-area: play;

  height: 70px;
  width: 150px;

  margin-top: 60px;
  margin-bottom: 50px;

  font-size: 1.8rem;
}

.difficultySection {
  grid-area: difficulty;
  display: grid;

  background-color: var(--background_3);
  border-radius: 8px;
  padding: 10px;

  filter: drop-shadow(0px 0px 2px black);
}

.difficultySection p {
  text-align: center;

  font-size: 1.3rem;
  font-weight: bold;
  color: var(--font_light);
  text-shadow: 1px 1px 2px black;

  margin: 15px 0px;
}

.difficultySection button {
  font-size: 1.3rem;
  height: 44px;
  margin: 5px 0px;
}

button.difficultySelected {
  color: var(--secondary_2);
  border-color: var(--secondary_2);
}

@media only screen and (min-width: 768px) {
  .titleScene {
    grid-template: 50px repeat(3, min-content) 1fr / 1fr;
    grid-template-areas:
      "."
      "title"
      "play"
      "difficulty"
      ".";
  }

  .title {
    font-size: 4rem;
  }

  .title::before,
  .title::after {
    width: 20px;
    height: 4px;
    transform: translateY(-20px);
    margin: 0 16px;
  }

  .playButton {
    grid-area: play;

    height: 90px;
    width: 200px;

    margin-top: 60px;
    margin-bottom: 50px;

    font-size: 2rem;
  }

  .difficultySection p {
    font-size: 1.5rem;
  }

  .difficultySection button {
    height: 60px;
    width: 250px;
  }
}
