.titleScene {
  display: grid;
  place-items: center;
  grid-template: 1fr repeat(3, min-content) 1fr / 1fr;
  grid-template-areas:
    "."
    "title"
    "play"
    "difficulty"
    ".";

  width: 100%;
  max-width: 1200px;

  background-color: var(--background_2);
}

.titleScene button {
  border: 2px solid var(--secondary_2);
  border-radius: 10px;
  background-color: var(--primary_1);

  font-weight: bold;
  color: var(--font_light);
  text-shadow: 1px 1px 2px black;
}

.title {
  margin-top: 50px;
  grid-area: title;

  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  color: var(--primary_1);
  filter: drop-shadow(1px 1px 1px black);
}

.title::before,
.title::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 2px;
  background: var(--secondary_1);
  margin: 0 8px;
  transform: translateY(-10px);
}

.playButton {
  grid-area: play;

  height: 70px;
  width: 150px;

  margin-top: 130px;
  margin-bottom: 50px;

  font-size: 1.8rem;
}

.difficultySection {
  grid-area: difficulty;
  display: grid;
}

.difficultySection p {
  text-align: center;
}

.difficultySection button {
  font-size: 1.3rem;
  height: 44px;
}
