.card {
  perspective: 1000px;
}

.cardInner {
  width: 130px;
  aspect-ratio: 2.5 / 3.5;

  margin: 10px;
  transform: rotate3d(0, 1, 0, -180deg);
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.card img {
  height: 100%;
  width: 100%;
}

.faceUp {
  transform: rotate3d(0, 1, 0, 0deg);
}

.back {
}
