.controlPanel {
  flex: 0 0 auto;
  display: grid;
  grid-template: 1fr / min-content 1fr min-content min-content;
  grid-template-areas: "new . help quit";

  background-color: var(--background_1);
}

.controlPanel button {
  height: 60px;
  width: 90px;

  margin: 10px;

  border: 2px solid var(--secondary_1);
  border-radius: 10px;
  background-color: var(--primary_1);

  font-weight: bold;
  color: var(--font_light);
  text-shadow: 1px 1px 2px black;

  filter: drop-shadow(1px 1px 2px black);
}

.controlPanel button:hover {
  background-color: var(--primary_2);
}

.newGameButton {
  grid-area: new;
}

.helpButton {
  grid-area: help;
}

.quitButton {
  grid-area: quit;
}

@media only screen and (min-width: 768px) {
  .controlPanel button {
    height: 75px;
    width: 115px;
    font-size: 1.2rem;
  }
}
