.statsPanel {
  flex: 0 0 auto;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  justify-items: start;

  background-color: var(--background_3);
}

.round {
  justify-self: start;
  padding-left: 10px;
}

.score {
  justify-self: center;
}

.highScore {
  justify-self: end;
  padding-right: 10px;
}
