:root {
  --primary_1: #a32110;
  --primary_2: #f0452d;
  --secondary_1: #00ad5a;
  --secondary_2: #2ef090;
  --background_1: #272727;
  --background_2: #474747;
  --background_3: #676767;
  --font_light: #f8f8f8;
  --font_dark: #080808;
}
